.setting_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 100%;
  .message_box {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 1rem;
    width: 100%;
    padding: 1rem 1.5rem;
  }
}
.profile_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 1rem;
  width: 100%;
  padding: 1rem 1.5rem;
}
