.popup {
  padding: 1rem;
  position: absolute;
  width: auto;
  gap: 0.5rem;
  height: auto;
  background-color: white;
  top: 100%;
  left: auto;
  right: auto;
  bottom: auto;
  color: black;
  border-radius: 6px;
  width: auto;
  z-index: 1;
}
